.idea/*
*.iml

*/**/.envrc
*/**/local_kube_config.yaml
*/**/local_kube_config.yaml.eksctl.lock

*/**/hidden.csv

credentials.csv
*/**/credentials.csv

*/**/hidden.txt
*/**/hidden.md
*/**/.terraform
*/**/.terraform.lock.hcl

.DS_Store

node_modules/


